# Composer ignores
/vendor
composer.phar
composer.lock

# Framework ignores
.env
.env.*.php
.env.php
selenium.php
/bootstrap/compiled.php
.phpunit.result.cache
/storage/framework/sessions
/storage/framework/cache
/storage/cms/cache
/storage/cms/twig
/storage/logs

# Other ignores
.DS_Store
package-lock.json
/node_modules